<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">车辆管理计划维护</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row " ng-model="epInfo">
        <div class="col-lg-3">
            <div class="form-group">
                <label style="height: 29px;padding: 6px 12px;">车辆管理计划名称</label>
                <input id="carPlanName" class="form-control" placeholder="" name="carPlanName" type="text" ng-model="carPlanName">
            </div>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
    <br/><br/><br/><br/>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary" ng-click="save();" id="saveBtn">保存</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
