<div style="padding-bottom: 20px;">
        <div class="row">
            <!-- <div class="col-lg-12">
                <h1 class="page-header">维修单</h1>
            </div> -->
            <div class="myHeader">
                <h1>替换车</h1>
                <div class="myaction" ng-click="back()">返回</div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    
        <!-- /.panel -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" >公司名称:{{contract.CONTRACT_NAME}}</div>
                <div class="col-md-4" ng-if="contract.CU_TYPE == '1'">公司名称:{{contract.CU_EP_NAME}}</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">客户名称:{{contract.CU_NAME}}</div>
                <div class="col-md-4">联系电话:{{contract.CU_PHONE}}</div>
                <div class="col-md-4">销售员:{{contract.SALE_USER_NAME}}</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">客户来源:{{contract.CU_SOURCE}}</div>
                <div class="col-md-4">客户需求:{{contract.TYPE}}</div>
                <div class="col-md-4">是否开票:{{contract.INVOICE}}</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">客户行业:{{contract.CU_WORK}}</div>
                <div class="col-md-4">付款期:{{contract.PAY_PERIOD}}</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">总价数:{{contract.UNIT_PRICE_SUM}}元</div>
                <div class="col-md-4">优惠:{{contract.DISCOUNT}}元</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">租期:{{contract.RENT_MONTH}}个月</div>
                <div class="col-md-4">签订日期:{{contract.SIGN_DATE}}</div>
                <div class="col-md-4">交车日期:{{contract.DELIVER_DATE}}</div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-12">备注:{{contract.REMARK}}</div>
            </div>
            <div class="row" style="display: flex;border-bottom: 1px solid #eee;margin-top:6px;"></div>
            <div class="row" style="margin-top:6px;">
                <h5>售后</h5>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-12" style="display:flex;align-items: center;">
                    <span style="width:100px;">替换车辆原因: </span>
                    <input  class="form-control" ng-model="replaceCar.REASON" > 
                </div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-12">
                    替换车交车日期: 
                    <input  ng-model="replaceCar.actiondate" id="replaceCar_actiondate" type="text" readonly="readonly"
                    class="form-control Wdate" style="height: 33px;width:20%;display:inline;"
                    onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                </div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-6">
                    原车牌号: {{carTable.PLATE_NUM}}
                </div>
                <div class="col-md-6" >
                    <div class="input-group">
                        <span class="input-group-addon">原车里程数</span>
                        <input type="text" type="number" step='0.01' ng-model="carTable.DRIVER_NUM" class="form-control">
                        <span class="input-group-addon">公里</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">替换车牌号</span>
                        <input type="text"  ng-model="replaceCar.PLATE_NUM" class="form-control">
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="input-group">
                        <span class="input-group-addon">替换车里程数</span>
                        <input type="text" type="number" step='0.01' ng-model="replaceCar.DRIVER_NUM" class="form-control">
                        <span class="input-group-addon">公里</span>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;" ng-if="roleIds.indexOf('REPAIR') >= 0">
                <button class="btn btn-default" ng-click="repairSave();" >{{$root.userName}}同意交车</button>
            </div>
            <div class="row" style="margin-top:6px;">
                <h5>交车流程-财务</h5>
            </div>
            <div class="dataTable_wrapper">
                <label>收款列表</label>
                <table class="table table-bordered table-hover" id="detailListTable">
                    <tr ng-model="carFlag">
                        <th colspan="8"><a ng-click="addFinanceFlow();" href="javascript:void(0);">添加</a></th>
                    </tr>
                    <tr>
                        <th>收据</th>
                        <th>收费项</th>
                        <th>日期</th>
                        <th>金额</th>
                        <th>付款方式</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="x in financeFlowList">
                        <th class="">{{x.RECEIPT_NO}}</th>
                        <th class="">{{x.BIZ_NAME}}</th>
                        <th class="">{{x.actiondate}}</th>
                        <th class="">{{x.MONEY}}</th>
                        <th class="">{{x.RECEIVER_PayTitle}}</th>
                        <th style="width: 10%"><a ng-click="delFinanceFlow(x.ID)" href="javascript:void(0);">删除</a></th>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top:6px;">
                <h5>交车流程-车管部</h5>
            </div>
            <div class="row" style="margin-top:6px;">
                <div class="col-md-4">
                    <span>交出人:</span>
                    <span>{{$root.userName}}</span>
                </div>
                <div class="col-md-4">
                    <span>接收人:</span>
                    <span>{{contract.CU_NAME}}</span>
                </div>
                <div class="col-md-4">
                <span>证明人:</span>
                <span>{{contract.SALE_USER_NAME}}</span>
                </div>
            </div>
            <div style="margin-top:20px;"  ng-if="roleIds.indexOf('CARMANAGE') >= 0">
                <button class="btn btn-default" ng-click="openCarTable();" ng-disabled="replaceCar.CARMANAGE_STATUS == '1'">车辆信息</button>
                <button class="btn btn-default" ng-click="carManageSub();" ng-disabled="replaceCar.CARMANAGE_STATUS == '1'">{{$root.userName}}确认提交</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    